body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.form-box {
    border: 2px solid black;
    padding: 20px;
    width: 300px;
    background-color: white;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

#mensagem {
    margin-top: 10px;
    font-weight: bold;
}
